.participants {
	padding: 0;
}
.participants li {
	display: inline;
}
.participants li:after {
	content: ", ";
}
.participants li:last-of-type:after {
	content: "";
}
.chart {
	height: 200px;
}
.card {
	transition: 0.15s;
}
.card:hover {
	box-shadow: 0 25px 60px 0 #ccc;
	cursor: pointer;
	transform: scale(1.02);
}
.card:active {
	background: #f7f7f7;
	transform: scale(0.99);
	transition: 0s;
}