
.jumbotron {
	background-color: #e3f8fc;
	padding-top: 32px;
	padding-bottom: 32px;
}
.participants {
	padding: 0;
}
.participants li {
	display: inline;
}
.participants li:after {
	content: ", ";
}
.participants li:last-of-type:after {
	content: "";
}
.chart {
	height: 200px;
}
.card {
	transition: 0.15s;
	background: rgba(255,255,255,0.05);
}
.card:hover {
	box-shadow: 0 25px 60px 0 #ccc;
	cursor: pointer;
	transform: scale(1.02);
}
a .card {
	color: black;
}
a:hover {
	text-decoration: none;
}
.card:active {
	background: #f7f7f7;
	transform: scale(1.01);
	transition: 0s;
}
.small-caps {
	font-variant: small-caps;
}
.statistic {
	margin-bottom: 15px;
}
.big-number {
	font-weight: 300;
	font-size: 3rem;
}
.clip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tfidf-token {
	display: inline-block;
	margin-right: 20px;
	font-weight: 300;
}
@media (prefers-color-scheme: dark) {
	body {
		background: #111;
		color: #eee;
	}
	.jumbotron {
		background-color: #094450;
	}
	.jumbotron hr {
		border-color: rgba(255,255,255,0.4);
	}
	a {
		color: #66b0ff;
	}
	a:hover {
		color: #3396ff;
	}
	a .card {
		color: white;
	}
	.card:hover {
		box-shadow: 0 25px 60px 0 #444;
		border: 1px solid #aaa;
	}
	.card:active {
		background: rgba(255,255,255,0.15);
	}
	hr {
		border-color: rgba(255,255,255,0.2);
	}
}